# General
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.log


# Virtual environments
venv/
env/
.pyenv

# Poetry
/.venv/

# Project specific
*.sqlite3
*.db

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

/doc